@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ElectroShop</h1>
    <p class="lead">ElectroShop, Where you can buy and sell used electronics..</p>
    <p><a href="" class="btn btn-primary btn-lg">Shop Products &raquo;</a></p>
</div>

